<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>タスク管理システム</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
	<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

	<h1 ><a th:text="#{content.title}" th:href="@{'/tasks'}"></a></h1>
	<p th:text="${msg}"></p>


<form th:if="${flag}" th:action="@{/user/show/{id}}" method="post" th:object="${formModel}">
	<input type = "hidden" name="id" th:value="*{id}" />
	<input type="submit" value="編集" />
</form>

<div th:unless="${editFlag}">
	<div th:object="${formModel}">
		<table>
			<tr><td><p th:text="|ID: *{id}|"></p></td></tr>
			<tr><td><p th:text="|名前：*{name}|"></p></td></tr>
			<tr><td><p th:text="|表示名：*{nickName}|"></p></td></tr>
			<tr><td><p th:text="|有効開始日：*{active_from}|"></p></td></tr>
			<tr><td><p th:text="|有効終了日：*{active_to}|"></p></td></tr>
			<tr><td><p th:text="|登録ユーザー：*{insert_user}|"></p></td></tr>
			<tr><td><p th:text="|登録日時：*{insert_date}|"></p></td></tr>
			<tr><td><p th:text="|更新ユーザー：*{update_user}|"></p></td></tr>
		</table>
	</div>
</div>

<table th:if="${editFlag}">
	<form th:action="@{/user/update}" method="post" th:object="${formModel}">
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}" class = "err" th:text="${error.message}" />
		</ul>

		<input type="hidden" name="id" th:value="*{id}" />
			<tr><td><label for="id">ID</label></td>
			    <td><p th:text="*{id}"></p></td></tr>

			<tr><td><label for="name">ユーザ</label></td>
				<td><input type="text" name="name" th:value="*{name}" /></td></tr>

			<tr><td><label for="password">パスワード</label></td>
				<td><input type="text" name="password" th:value="*{password}" /></td></tr>

			<tr><td><label for="nickName">表示名</label></td>
				<td><input type="text" name="nickName" th:value="*{nickName}" /></td></tr>

			<tr><td><label for="active_from">有効開始日</label></td>
				<td><input type="date" name="active_from" th:value="*{active_from}" /></td></tr>

			<tr><td><label for="active_to">有効終了日</label></td>
				<td><input type="date" name="active_to" th:value="*{active_to}" /></td></tr>

				<input type="hidden" name="insert_user" th:value="*{insert_user}" />
				<input type="hidden" name="insert_date" th:value="*{insert_date}" />
				<input type="hidden" name="update_user" th:value="*{update_user}" />
				<input type="hidden" name="update_date" th:value="*{update_date}" />

			<tr><td><input type="submit" value="保存" /></td></tr>
	</form>
</table>
	<p><a th:href="@{/user/delete/{id}(id=${formModel.id})}"><span th:if="${flag}" th:text="|ID:${formModel.id}のユーザーを削除する|"></span></a></p>
	<p><a th:href="@{/user/index}">ユーザー一覧へ戻る</a></p>
</body>
</html>