<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>テスト</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />

	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray; }
	body { font-size:13pt; color:gray; margin:5px 25px; }
	tr { margin:5px; }
	th { padding:5px; color:white; background:darkgray; }
	td { padding:5px; color:black; background:#f0f0f0; }
	.err { color:red; }
	</style>
</head>
<body>

	<h1>ユーザー情報一覧</h1>

	<table>
		<tr><th>ID</th><th>名前</th><th>表示名</th><th>有効開始日</th><th>有効終了日</th></tr>
		<tr th:each="obj : ${list}" th:object="${obj}">
			<td><a th:href="@{/user/show/{id}(id=*{id})}"><div th:text=*{id}></div></a></td>
			<td th:text="*{name}"></td>
			<td th:text="*{nickName}"></td>
			<td th:text="*{active_from}"></td>
			<td th:text="*{active_to}"></td>

	</table>



	<div>
		<p><a th:href="@{'/user/new'}">新規ユーザー登録</a></p>
	</div>

</body>
</html>